<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/output.css')}}">
    <title>Dashboard</title>
</head>
<body class="bg-zinc-800">
    <div class="px-4 my-32 max-w-3xl mx-auto space-y-6">
        <h1 class="text-center font-bold text-gray-200 px-5">URL Shortener</h1>
        <form method="POST" action=" {{ url_for('dashboard') }}" >
            <div class="flex space-x-4">
                <input type="text" name="long_url"  placeholder="Enter the long URL" class="bg-zinc-700 border border-gray-400 block py-2 px-4 w-full rounded focus:outline-none focus:border-gray-200 ">
                <button type="submit" class="text-gray-200 bg-purple-950 hover:bg-purple-700 font-bold py-2 px-4 rounded border border-gray-400 hover:border-gray-200">Shorten</button>
            </div>
        </form>
    </div>
</body>
</html>